export(zilgm, zilgm_poisson, zilgm_negbin, zilgm_negbin2, generate_network, zilgm_sim, find_lammax)
exportClasses("zilgm")

import("methods")
import("stats")
import("flux")
import("network")
import("parallel")
importFrom("MASS", "rnegbin")
importFrom("MASS", "negative.binomial")
importFrom("glmnet", "glmnet")
importFrom("Matrix", "Matrix")
importFrom("mpath", "glmreg")
importFrom("igraph", "sample_pa")
importFrom("igraph", "as_adjacency_matrix")
