useDynLib(ZILGM)

export(zilgm, zilgm_poisson, zilgm_negbin, zilgm_negbin2, zilgm_sim, find_lammax)
exportClasses("zilgm")

import("methods")
import("stats")
import("flux")
import("network")
importFrom("MASS", "rnegbin")
importFrom("MASS", "negative.binomial")
importFrom("glmnet", "glmnet")
importFrom("parallel", "detectCores")
importFrom("parallel", "mclapply")
importFrom("Matrix", "Matrix")

